body, h1   { font-family: "Raleway", sans-serif }
body, html { height: 100% }

.bg-img {
    min-height: 100%;
    background-image: url('/assets/img/background.jpg');
    background-position: center;
    background-size: cover;
}

.log-in-url {
	cursor: pointer;
    text-decoration: none;
}

.log-in-url:hover {
	color: #cccccc;
	cursor: pointer;
    text-decoration: none;
}